<h2>Thank you!</h2>
<p>
Your order has been placed.
</p>
<script type="text/javascript">

$(function() {

	  // тут я могу написать любой javascript код, который исполнится
	  // после загрузки страницы

	  window.localStorage.clear();

});

</script>